language: bash
sudo: required
dist: trusty
os:
  - linux
  - osx
addons:
  apt:
    packages:
    - shellcheck
branches:
  only:
    - master
install:
  - ./build/install.sh
script:
  - ./build/build.sh
notifications:
  email: false
